/* 游戏说明 */
.instr {
    width: 400px;
    height: 580px;
    margin: 100px auto 0;
    border: 1px solid #aaa;
    padding: 20px 100px 0;
}
.instr h1 {
    text-align: center;
}
.instr p {
    width: 400px;
    height: 30px;
    margin-top: 50px;
    font-size: 16px;
}
.instr  a {
    display: block;
    margin: 50px 60px 0;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    color: #000;
}