/* 主界面 */
.interface {
    width: 300px;
    height: 580px;
    margin: 100px auto 0;
    border: 1px solid #aaa;
    padding: 20px 150px 0;
}
.interface h1 {
    text-align: center;
}
.interface div {
    width: 300px;
    height: 80px;
    line-height: 80px;
    background-color: pink;
    margin: 80px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: #ddd;
    cursor: pointer;
}
.interface a {
    display: block;
    width: 300px;
    height: 80px;
    color: #000;
}