/* 难度页面 */
.mode {
    width: 300px;
    height: 580px;
    margin: 100px auto 0;
    border: 1px solid #aaa;
    padding: 20px 150px 0;
}
.mode h1 {
    text-align: center;
}
.mode div {
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin: 60px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.mode div a {
    display: block;
    width: 300px;
    height: 50px;
    color: #000;
}